{% extends "layout.html" %}

{% block title  %}
BlogPost
{% endblock  %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Blog</h1>

<h2>{% if form.instance.pk%}
     Edit Post 
     {% else %} 
     Create Post 
     {% endif %}
     <form method="post"enctype="multipart/form-data" class="form">
        {% csrf_token %}
       {{form.as_p}} 
       <button class="btn btn-warning" type="submit">Submit</button>
     </form>
     <a href="{% url 'post_list' %}">Back to post list</a>
</h2>
{% endblock  %}